@{
    ViewBag.Title = "Cikis";
}
<div class="alert" style="color:red;">
    <span class="closebtn" onclick="this.parentElement.style.display='none';"> &times;</span>
    <strong> Uyarı!</strong> Kullanıcıdan Çıkış Yapıldı!!.
</div>