@{
    ViewBag.Title = "Contact";
}
<h2 style="font-family:Monofonto;font-size:50px;">İletişim <span class="glyphicon glyphicon-phone"></span></h2>

<hr />
<address style=" font-family:'Cambria Math';font-size:20px;" ">
    KütüphanemSakarya<br />
    Sakarya Mah. Gelincik Sok.No:15<br />
    <abbr title="Phone">P:</abbr>
    05422250440
</address>
<hr />
<address style=" font-family:'Cambria Math';font-size:20px;">
    Kütüphanemİstanbul<br />
    istiklal Mah. 1045 Sok.No:20<br />
    <abbr title="Phone">P:</abbr>
    05422250441
</address>
<hr />
<address style="font-family:'Cambria Math';font-size:20px;"">
    KütüphanemAnkara<br />
    123 Mah. 6554 Sok.No:3<br />
    <abbr title="Phone">P:</abbr>
    05422250443
</address>
<hr />
<address style="font-family:'Cambria Math';font-size:20px;"">
    KütüphanemMuş<br />
    dar Mah. 96 Sok.No:2<br />
    <abbr title="Phone">P:</abbr>
    05422250444
</address>
<hr />

<address style="        font-family: 'Cambria Math';
        font-size: 20px;"">
    <strong>Email54:</strong>   <a href="kutuphanem54@gmail.com">kutuphanem54@gmail.com</a><br />
    <strong>EmailAnkara:</strong> <a href="kutuphanem54@gmail.com">kutuphanem54@gmail.com</a>
</address>